.contact {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
   
  
    background: rgb(255, 255, 255);

    .contact-info {
        align-self: center;
        ul {
            list-style-type: none;

            li {
                display: inline;
                margin: 0 30px;
                font-weight: bold;
            }
        }
    }

    .contactfield {
        border-radius: 0px;
        margin-top: 10px;
        &:focus{
            box-shadow: none;
            border: 1px solid;
        }
    }

    .contactSubmit {
        border-radius: 0px;
        background: -webkit-linear-gradient(
            45deg,
            rgb(194, 60, 7),
            rgb(195, 41, 93)
            );
        border:none;
        padding: 14px;
        display: block;
        width: 50%;
        max-width: 250px;
        display: block;
        margin: 0 auto;
    }
}